@font-face {
    font-family: "Kabel Black";
    src: url("/fonts/Kabel-Black-opentype.otf") format("opentype");
    font-display: block;
}

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
}
